.content {
    margin-top: 50px;
    width: 100%;
}

.page-title {
    text-align: center;
}

.main-content {
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.all_sellers_list {
    width: 30%;
    padding: 70px 30px;
    background-color: rgba(34,162,111, 0.5);
    border-radius: 25px;
}

.all_sellers_list ul {
    margin: 0;
    padding: 0;
}

.all_sellers_list ul li {
    height: 25px;
    margin-bottom: 12px;
    list-style: none;
}

.all_sellers_list ul li a {
    height: 25px;
    padding-left: 25px; 
    padding-right: 50px; 
    background-color: rgba(255,255,255, 0.4);
    border-radius: 10px;
    text-decoration-line: none;
    color: #000;
}

.seller_info {
    width: 35%;
    height: fit-content;
    margin: 0 auto;
    padding: 70px 30px;
    background-color: rgba(34,162,111, 0.5);
    border-radius: 25px;
}

.seller_info p{
}

.selected-seller-icon {
    font-size: 40px;
    width: 100%;
}