html, body {
    margin: 0px; 
    padding: 0px; 
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F0F3F4;
}

.page-container {
    width: 100vw;
    height: auto;
    display: flex;
}

aside {
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    background-color: #F0F3F4;
    border-right: 1px solid rgba(81,89,102, .4);
    /*border-right: #515966;*/
}

.sidebar-wrapper {
    position: fixed;
}

h1 {
    margin-left: 20px;
    padding-bottom: 10px;
    width: 240px;
    border-bottom: 1px solid #212426;
}

nav ul {
    margin-left: 20px;
    padding: 0
}

nav ul li{
    width: 240px;
    margin-bottom: 5px;
    list-style: none;
    line-height: 2.7rem;

}

nav ul li i {
    justify-self: center;
    color: #23A26F;
}

nav ul li a {
    display: grid;
    grid-template-columns: 20% 70%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #23A26F;
    background-color: #F4F6F8;
    border-radius: 5px;
    transition: 300ms ease;
}

nav ul li a:hover {
    background-color: #23A26F;
    color: #fff;
} 

nav ul li a:hover > i {
    color: #fff;
}

.active {
    background-color: #23A26F;
    color: #F4F6F8;
}

.active-text {
    color: #F4F6F8;
}

.active-icon {
    color: #F4F6F8;
}