/* Root Variable */
:root {
    /* --color-primary: #7380ec; */
    --color-primary: #17AF7B;
    --color-secondary: #FF665C;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-input-dark: rgba(232, 232, 232, .7);
    --color-dark: #363949;
    --color-light: #F7F7F7;
    --color-primary-variant: #111e88;
    --color-tertiary-1: #7ADBFA;
    --color-tertiary-2: #FFB2E0;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 1rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --top-card-padding: 1rem 1.8rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow-hover: 0 1rem 2rem var(--color-light);

}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem; 
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--info-dark);
}

p { 
    color: var(--color-dark-variant);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-dange);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

